In [ ]:
import pandas as pd
import numpy as np

**Minimum and Maximum Teperature data for 30 days**

In [ ]:
df= pd.read_csv('temp.csv')
print(df.head(30))

    Day_No        Date  min_temp  max_temp  Unnamed: 4        Unnamed: 5
0        1  10/16/2020        17        28         NaN  Place: kathmandu
1        2  10/17/2020        16        28         NaN  Place: kathmandu
2        3  10/18/2020        17        28         NaN  Place: kathmandu
3        4  10/19/2020        15        27         NaN  Place: kathmandu
4        5  10/20/2020        14        26         NaN  Place: kathmandu
5        6  10/20/2020        16        26         NaN  Place: kathmandu
6        7  10/21/2020        15        26         NaN  Place: kathmandu
7        8  10/22/2020        14        26         NaN  Place: kathmandu
8        9  10/23/2020        15        25         NaN  Place: kathmandu
9       10  10/24/2020        15        27         NaN  Place: kathmandu
10      11  10/25/2020        14        27         NaN  Place: kathmandu
11      12  10/26/2020        15        27         NaN  Place: kathmandu
12      13  10/27/2020        14        25         NaN  Place: kathmandu
13      14  10/28/2020        12        26         NaN  Place: kathmandu
14      15  10/29/2020        13        27         NaN  Place: kathmandu
15      16  10/30/2020        14        28         NaN  Place: kathmandu
16      17  10/31/2020        14        28         NaN  Place: kathmandu
17      18   11/1/2020        13        26         NaN  Place: kathmandu
18      19   11/2/2020        13        26         NaN  Place: kathmandu
19      20   11/3/2020        13        26         NaN  Place: kathmandu
20      21   11/4/2020        11        26         NaN  Place: kathmandu
21      22   11/5/2020        10        24         NaN  Place: kathmandu
22      23   11/6/2020        11        24         NaN  Place: kathmandu
23      24   11/7/2020        10        25         NaN  Place: kathmandu
24      25   11/8/2020        11        23         NaN  Place: kathmandu
25      26   11/9/2020        10        25         NaN  Place: kathmandu
26      27  11/10/2020        11        26         NaN  Place: kathmandu
27      28  11/11/2020        10        25         NaN  Place: kathmandu
28      29  11/12/2020        11        24         NaN  Place: kathmandu
29      30  11/13/2020        10        25         NaN  Place: kathmandu

**Minimum and Maximum Teperature data for 30 days after deleting 5 values from each parameter**

In [ ]:
df= pd.read_csv('tad.csv')
print(df.head(30))

    Day_No        Date  min_temp  max_temp  Unnamed: 4        Unnamed: 5
0        1  10/16/2020      17.0      28.0         NaN  Place: kathmandu
1        2  10/17/2020      16.0      28.0         NaN  Place: kathmandu
2        3  10/18/2020       NaN      28.0         NaN  Place: kathmandu
3        4  10/19/2020      15.0      27.0         NaN  Place: kathmandu
4        5  10/20/2020      14.0      26.0         NaN  Place: kathmandu
5        6  10/20/2020      16.0       NaN         NaN  Place: kathmandu
6        7  10/21/2020       NaN      26.0         NaN  Place: kathmandu
7        8  10/22/2020      14.0      26.0         NaN  Place: kathmandu
8        9  10/23/2020      15.0      25.0         NaN  Place: kathmandu
9       10  10/24/2020       NaN      27.0         NaN  Place: kathmandu
10      11  10/25/2020      14.0       NaN         NaN  Place: kathmandu
11      12  10/26/2020      15.0      27.0         NaN  Place: kathmandu
12      13  10/27/2020      14.0      25.0         NaN  Place: kathmandu
13      14  10/28/2020      12.0      26.0         NaN  Place: kathmandu
14      15  10/29/2020      13.0      27.0         NaN  Place: kathmandu
15      16  10/30/2020      14.0      28.0         NaN  Place: kathmandu
16      17  10/31/2020       NaN      28.0         NaN  Place: kathmandu
17      18   11/1/2020      13.0      26.0         NaN  Place: kathmandu
18      19   11/2/2020      13.0      26.0         NaN  Place: kathmandu
19      20   11/3/2020      13.0       NaN         NaN  Place: kathmandu
20      21   11/4/2020      11.0      26.0         NaN  Place: kathmandu
21      22   11/5/2020      10.0      24.0         NaN  Place: kathmandu
22      23   11/6/2020      11.0      24.0         NaN  Place: kathmandu
23      24   11/7/2020       NaN      25.0         NaN  Place: kathmandu
24      25   11/8/2020      11.0       NaN         NaN  Place: kathmandu
25      26   11/9/2020      10.0      25.0         NaN  Place: kathmandu
26      27  11/10/2020      11.0      26.0         NaN  Place: kathmandu
27      28  11/11/2020      10.0       NaN         NaN  Place: kathmandu
28      29  11/12/2020      11.0      24.0         NaN  Place: kathmandu
29      30  11/13/2020      10.0      25.0         NaN  Place: kathmandu

**calculating parameters of different columns**

In [ ]:
print(df.describe())

          Day_No   min_temp   max_temp  Unnamed: 4
count  30.000000  25.000000  25.000000         0.0
mean   15.500000  12.920000  26.120000         NaN
std     8.803408   2.119748   1.301281         NaN
min     1.000000  10.000000  24.000000         NaN
25%     8.250000  11.000000  25.000000         NaN
50%    15.500000  13.000000  26.000000         NaN
75%    22.750000  14.000000  27.000000         NaN
max    30.000000  17.000000  28.000000         NaN

 **Replacing NaN values with mean, average, median, previous, following data**

#**FOR MINIMUM TEMPERATURE**

In [ ]:
print('min_temp')
print(df['min_temp'].head(30))

min_temp
0     17.0
1     16.0
2      NaN
3     15.0
4     14.0
5     16.0
6      NaN
7     14.0
8     15.0
9      NaN
10    14.0
11    15.0
12    14.0
13    12.0
14    13.0
15    14.0
16     NaN
17    13.0
18    13.0
19    13.0
20    11.0
21    10.0
22    11.0
23     NaN
24    11.0
25    10.0
26    11.0
27    10.0
28    11.0
29    10.0
Name: min_temp, dtype: float64

In [ ]:
print(df['min_temp'].fillna((df['min_temp'].mean())))     #by mean

0     17.00
1     16.00
2     12.92
3     15.00
4     14.00
5     16.00
6     12.92
7     14.00
8     15.00
9     12.92
10    14.00
11    15.00
12    14.00
13    12.00
14    13.00
15    14.00
16    12.92
17    13.00
18    13.00
19    13.00
20    11.00
21    10.00
22    11.00
23    12.92
24    11.00
25    10.00
26    11.00
27    10.00
28    11.00
29    10.00
Name: min_temp, dtype: float64

In [ ]:
print(df['min_temp'].fillna((df['min_temp'].median())))     #by median

0     17.0
1     16.0
2     13.0
3     15.0
4     14.0
5     16.0
6     13.0
7     14.0
8     15.0
9     13.0
10    14.0
11    15.0
12    14.0
13    12.0
14    13.0
15    14.0
16    13.0
17    13.0
18    13.0
19    13.0
20    11.0
21    10.0
22    11.0
23    13.0
24    11.0
25    10.0
26    11.0
27    10.0
28    11.0
29    10.0
Name: min_temp, dtype: float64

In [ ]:
print(df['min_temp'].fillna((df['min_temp'].pad())))     #by previous data

0     17.0
1     16.0
2     16.0
3     15.0
4     14.0
5     16.0
6     16.0
7     14.0
8     15.0
9     15.0
10    14.0
11    15.0
12    14.0
13    12.0
14    13.0
15    14.0
16    14.0
17    13.0
18    13.0
19    13.0
20    11.0
21    10.0
22    11.0
23    11.0
24    11.0
25    10.0
26    11.0
27    10.0
28    11.0
29    10.0
Name: min_temp, dtype: float64

In [ ]:
print(df['min_temp'].fillna((df['min_temp'].bfill())))     #by next data

0     17.0
1     16.0
2     15.0
3     15.0
4     14.0
5     16.0
6     14.0
7     14.0
8     15.0
9     14.0
10    14.0
11    15.0
12    14.0
13    12.0
14    13.0
15    14.0
16    13.0
17    13.0
18    13.0
19    13.0
20    11.0
21    10.0
22    11.0
23    11.0
24    11.0
25    10.0
26    11.0
27    10.0
28    11.0
29    10.0
Name: min_temp, dtype: float64

#**FOR MAXIMUM TEMPERATURE**

In [ ]:
print('max_temp')
print(df['max_temp'].head(30))

max_temp
0     28.0
1     28.0
2     28.0
3     27.0
4     26.0
5      NaN
6     26.0
7     26.0
8     25.0
9     27.0
10     NaN
11    27.0
12    25.0
13    26.0
14    27.0
15    28.0
16    28.0
17    26.0
18    26.0
19     NaN
20    26.0
21    24.0
22    24.0
23    25.0
24     NaN
25    25.0
26    26.0
27     NaN
28    24.0
29    25.0
Name: max_temp, dtype: float64

In [ ]:
print(df['max_temp'].fillna((df['max_temp'].mean())))     #by mean

0     28.00
1     28.00
2     28.00
3     27.00
4     26.00
5     26.12
6     26.00
7     26.00
8     25.00
9     27.00
10    26.12
11    27.00
12    25.00
13    26.00
14    27.00
15    28.00
16    28.00
17    26.00
18    26.00
19    26.12
20    26.00
21    24.00
22    24.00
23    25.00
24    26.12
25    25.00
26    26.00
27    26.12
28    24.00
29    25.00
Name: max_temp, dtype: float64

In [ ]:
print(df['max_temp'].fillna((df['max_temp'].median())))     #by median

0     28.0
1     28.0
2     28.0
3     27.0
4     26.0
5     26.0
6     26.0
7     26.0
8     25.0
9     27.0
10    26.0
11    27.0
12    25.0
13    26.0
14    27.0
15    28.0
16    28.0
17    26.0
18    26.0
19    26.0
20    26.0
21    24.0
22    24.0
23    25.0
24    26.0
25    25.0
26    26.0
27    26.0
28    24.0
29    25.0
Name: max_temp, dtype: float64

In [ ]:
print(df['max_temp'].fillna((df['max_temp'].pad())))     #by previous data

0     28.0
1     28.0
2     28.0
3     27.0
4     26.0
5     26.0
6     26.0
7     26.0
8     25.0
9     27.0
10    27.0
11    27.0
12    25.0
13    26.0
14    27.0
15    28.0
16    28.0
17    26.0
18    26.0
19    26.0
20    26.0
21    24.0
22    24.0
23    25.0
24    25.0
25    25.0
26    26.0
27    26.0
28    24.0
29    25.0
Name: max_temp, dtype: float64

In [ ]:
print(df['max_temp'].fillna((df['max_temp'].bfill())))     #by next data

0     28.0
1     28.0
2     28.0
3     27.0
4     26.0
5     26.0
6     26.0
7     26.0
8     25.0
9     27.0
10    27.0
11    27.0
12    25.0
13    26.0
14    27.0
15    28.0
16    28.0
17    26.0
18    26.0
19    26.0
20    26.0
21    24.0
22    24.0
23    25.0
24    25.0
25    25.0
26    26.0
27    24.0
28    24.0
29    25.0
Name: max_temp, dtype: float64